<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.ClassMapper">
	
	<resultMap type="ClassVO" id="classResultMap">
		<id column="c_no" property="cNo"/>
		<result column="c_name" property="cName"/>
		<result column="c_use" property="cUse"/>
		<association property="kVo" resultMap="mappers.KindergartenMapper.kindergartenResultMap"/>
	</resultMap>
	
	<insert id="insert" parameterType="ClassVO" useGeneratedKeys="true" keyColumn="c_no" keyProperty="cNo">
		insert into class(c_name, k_no) 
		values(#{cName}, #{kVo.kNo})
	</insert>
	
	<select id="selectListByKNo" resultMap="classResultMap">
		select * from class where c_use=0 and k_no=#{kNo} order by c_name
	</select>
	
	<select id="selectByNo" resultMap="classResultMap">
		select * from class where c_no=#{cNo}
	</select>
	
	<delete id="deleteByCNo">
		delete from class where c_no=#{cNo}
	</delete>
	
	<update id="update">
		update class set c_name=#{cName} where c_no=#{cNo}
	</update>
	
	<update id="updateUse">
		update class set c_use=1 where c_no=#{cNo}
	</update>
</mapper>