<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.FamilyMapper">
	
	<resultMap type="FamilyVO" id="familyResultMap">
		<association property="pVo" resultMap="mappers.ParentMapper.parentResultMap"/>
		<association property="chVo" resultMap="mappers.ChildrenMapper.childrenResultMap"/>
	</resultMap>
	
	<insert id="insert" parameterType="FamilyVO">
		insert into family(p_no, ch_no) values(#{pNo}, #{chNo})
	</insert>

</mapper>