<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.KindergartenMapper">
	
	<resultMap type="KindergartenVO" id="kindergartenResultMap">
		<id column="k_no" property="kNo"/>
		<result column="k_code" property="kCode"/>
		<result column="k_name" property="kName"/>
		<result column="k_tel" property="kTel"/>
		<result column="k_address" property="kAddress"/>
		<result column="k_regdate" property="kRegdate"/> 
	</resultMap>
	
	<insert id="insert" parameterType="KindergartenVO" useGeneratedKeys="true" keyColumn="k_no" keyProperty="kNo">
		insert into kindergarten(k_code, k_name, k_tel, k_address) 
		values(#{kCode}, #{kName}, #{kTel}, #{kAddress})
	</insert>
	
	<select id="selectList" resultMap="kindergartenResultMap">
		select * from kindergarten
	</select>
	
	<select id="selectByNo" resultMap="kindergartenResultMap">
		select * from kindergarten where k_no=#{kNo}
	</select>
	
	<select id="selectByCode" resultMap="kindergartenResultMap">
		select * from kindergarten where k_code=#{kCode}
	</select>
	
	<update id="update" parameterType="KindergartenVO">
		update kindergarten set k_name=#{kName}, k_tel=#{kTel}, k_address=#{kAddress} where k_no=#{kNo}
	</update>
</mapper>