<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.NoticeMapper">
	
	<resultMap type="NoticeVO" id="noticeResultMap">
		<id column="n_no" property="nNo"/>
		<result column="n_content" property="nContent"/>
		<result column="n_date" property="nDate"/>
		<association property="tVo" resultMap="mappers.TeacherMapper.teacherResultMap"/>
		<association property="chVo" resultMap="mappers.ChildrenMapper.childrenResultMap"/>
	</resultMap>
	
	<sql id="selectJoin">
		select * from notice n join teacher t on n.t_no=t.t_no
			join children ch on n.ch_no=ch.ch_no
	</sql>
	
	<insert id="insert" parameterType="NoticeVO">
		insert into notice(n_content, t_no, ch_no)
		values(#{nContent}, #{tVo.tNo}, #{chVo.chNo})
	</insert>
	
	<select id="selectListByChNo" resultMap="noticeResultMap">
		<include refid="selectJoin" /> where ch.ch_no=#{chNo} order by n_date desc limit #{cri.pageStart}, #{cri.perPageNum}
	</select>
	
	<select id="selectByNNo" resultMap="noticeResultMap">
		<include refid="selectJoin" /> where n_no=#{nNo}
	</select>
	
	<select id="selectListCountByChNo" resultType="int">
		select count(n_no) from notice where ch_no=#{chNo}
	</select>
	
	<update id="update" parameterType="NoticeVO">
		update notice set n_content=#{nContent} where n_no=#{nNo}
	</update>
	
	<delete id="delete">
		delete from notice where n_no=#{nNo}
	</delete>
	
	
</mapper>