<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.PApproveMapper">
	
	<resultMap type="PApproveVO" id="pApproveResultMap">
		<result column="p_nickname" property="pNickname"/>
		<association property="mVo" resultMap="mappers.MemberMapper.memberResultMap"/>
		<association property="chVo" resultMap="mappers.ChildrenMapper.childrenResultMap"/>
	</resultMap>
	
	<sql id="selectJoin">
		select * from p_approve pa join member m on pa.m_no=m.m_no
			join children ch on pa.ch_no=ch.ch_no 
	</sql>
	
	<insert id="insert" parameterType="PApproveVO">
		insert into p_approve(m_no, ch_no, p_nickname) values(#{mVo.mNo}, #{chVo.chNo}, #{pNickname})
	</insert>
	
	<select id="selectListByKNo" resultMap="pApproveResultMap">
		<include refid="selectJoin" /> where ch.k_no=#{kNo}
	</select>
	
	<select id="selectListByCNo" resultMap="pApproveResultMap">
		<include refid="selectJoin" /> where ch.c_no=#{cNo}
	</select>	
	
	
	
	<!-- <select id="selectParentNullListByChNo" resultMap="familyResultMap">
		select * from parent p left join 
			(select p_no from family where ch_no=#{chNo}) f on p.p_no = f.p_no
			join member m on p.m_no = m.m_no
			where m.m_type=3 and k_no=#{kNo} and f.p_no is null;
	</select>
	
	<select id="selectListByChNo" resultMap="familyResultMap">
		select * from family f join children ch on f.ch_no=ch.ch_no
			join parent p on f.p_no=p.p_no join member m on p.m_no=m.m_no
			where ch.ch_no=#{chNo} order by m.m_name
	</select>
	
	<select id="selectChListByMNoAndKNo" resultMap="familyResultMap">
		select * from parent p join family f on p.p_no=f.p_no
			join children ch on f.ch_no=ch.ch_no join class c on ch.c_no=c.c_no
			join kindergarten k on ch.k_no=k.k_no where p.m_no=#{mNo} and p.k_no=#{kNo} order by ch.ch_regdate;
	</select>
	
	<delete id="deleteByChNo">
		delete from family where ch_no=#{chNo}
	</delete> -->
	
	<delete id="deleteByMNoAndChNo">
		delete from p_approve where m_no=#{mVo.mNo} and ch_no=#{chVo.chNo}
	</delete>
</mapper>