<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.PApproveMapper">
	
	<resultMap type="PApproveVO" id="pApproveResultMap">
		<result column="p_nickname" property="pNickname"/>
		<association property="mVo" resultMap="mappers.MemberMapper.memberResultMap"/>
		<association property="chVo" resultMap="mappers.ChildrenMapper.childrenResultMap"/>
	</resultMap>
	
	<sql id="selectJoin">
		select * from p_approve pa 
			join member m on pa.m_no=m.m_no join children ch on pa.ch_no=ch.ch_no 
			join kindergarten k on k.k_no=ch.k_no join class c on c.c_no=ch.c_no
	</sql>
	
	<insert id="insert" parameterType="PApproveVO">
		insert into p_approve(m_no, ch_no, p_nickname) values(#{mVo.mNo}, #{chVo.chNo}, #{pNickname})
	</insert>
	
	<select id="selectListByKNo" resultMap="pApproveResultMap">
		<include refid="selectJoin" /> where ch.k_no=#{kNo} order by m.m_name, c.c_name, ch.ch_name;
	</select>
	
	<select id="selectListByCNo" resultMap="pApproveResultMap">
		<include refid="selectJoin" /> where ch.c_no=#{cNo}
	</select>
	
	<select id="selectListByMNo" resultMap="pApproveResultMap">
		<include refid="selectJoin" /> where m.m_no=#{mNo}
	</select>
	
	<select id="selectListByChNo" resultMap="pApproveResultMap">
		<include refid="selectJoin" /> where pa.ch_no=#{chNo}
	</select>

	<delete id="deleteByMNoAndChNo">
		delete from p_approve where m_no=#{mVo.mNo} and ch_no=#{chVo.chNo}
	</delete>
	
	<delete id="deleteByChNo">
		delete from p_approve where ch_no=#{chNo}
	</delete>
</mapper>