<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.ParentMapper">
	
	<resultMap type="ParentVO" id="parentResultMap">
		<association property="mVo" resultMap="mappers.MemberMapper.memberResultMap"/>
		<association property="chVo" resultMap="mappers.ChildrenMapper.childrenResultMap"/>
	</resultMap>
	
	<sql id="selectJoin">
		select * from parent p join member m on p.m_no=m.m_no join children ch on p.ch_no=ch.ch_no
			join class c on ch.c_no=c.c_no join kindergarten k on ch.k_no=k.k_no
	</sql>
	
	<insert id="insert" parameterType="ParentVO">
		insert into family(m_no, ch_no) values(#{mNo}, #{chNo})
	</insert>
	
	<select id="selectListByMNo" resultMap="parentResultMap">
		<include refid="selectJoin" /> where p.m_no=#{mNo};
	</select>
	
	<select id="selectListByMNoAndKNO" resultMap="parentResultMap">
		<include refid="selectJoin" /> where p.m_no=#{mNo} and k.k_no=#{kNo}
	</select>

	<select id="selectListByKNo" resultMap="parentResultMap">
		<include refid="selectJoin" /> where k.k_no=#{kNo};
	</select>

	<select id="selectListByCNo" resultMap="parentResultMap">
		<include refid="selectJoin" /> where c.c_no=#{cNo};
	</select>

	<select id="selectChildListByMNo" resultMap="parentResultMap">
		<include refid="selectJoin" /> where p.m_no=#{mNo}
	</select>
	
	<delete id="deleteByChNo">
		delete from parent where ch_no=#{chNo}
	</delete>
	
	<delete id="deleteByMNo">
		delete from parent where M_no=#{mNo}
	</delete>
</mapper>